.dropdown-flex {
    display: flex;
    height: calc(var(--vh, 1vh) * 70);
    width: 100%;
    position: relative;
    flex-direction: column;
}

.dropdown {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 6;
    user-select: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--vh, 1vh) * 5);
}

.title {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: calc(var(--vh, 1vh) * 2);
    width: 50%;
    position: relative;
    left: 25%;
    background-color: #330747;
    color: #fff;
    padding: 0;
    margin: 0;
    padding-top: calc(var(--vh, 1vh) * 1);
    padding-bottom: calc(var(--vh, 1vh) * 1);
    margin-top: calc(var(--vh, 1vh) * 2);
}

.title:hover {
    background-color: #8d16c4;
    color: #7d7d7d;
    cursor: pointer;
}

.title>p {
    padding: 0;
    margin: 0;
}

.description {
    display: none;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: calc(var(--vh, 1vh) * 1);
    width: calc(var(--vw, 1vw) * 50);
    /* position: fixed; */
    padding: 0;
    margin: 0;
    margin-left: calc(var(--vw, 1vw) * 25);
    background-color: #612e79;
    color: #fff;
    padding-top: calc(var(--vh, 1vh) * 1);
    padding-bottom: calc(var(--vh, 1vh) * 1);
}

#faq-title {
    z-index: 5;
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: calc(var(--vh, 1vh) * 10);
    top: calc(var(--vh, 1vh) * -5);
    color: #6f2dad;
    text-shadow: 5px 5px #330747;
}
