#multi-tab {
    position: fixed;
    left: 20vw;
    width: 75vw;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.tab {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tab>p {
    color: var(--text);
    font-weight: bold;
    font-size: 3vh;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.tab:hover {
    /* filter: opacity(0.5); */
    /* backdrop-filter: blur(20px); */
    cursor: pointer;
}