#invite-link {
    background-color: #220530;
    width: 200px;
    height: 200px;
    position: fixed;
    right: 100px;
    top: 200px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 2px;
    user-select: none;
}

#invite-link>img {
    width: 120px;
    height: 120px;
    position: relative;
    left: 40px;
    top: 20px;
}

#invite-link>a {
    color: #fff;
    text-decoration: none;
    background-color: #59cc4f;
    border-radius: 5px;
    padding: 7px;
    position: relative;
    top: 35px;
    left: 60px;
    white-space: nowrap;
}

#invite-link>a:hover {
    color: rgb(112, 112, 112);
    background-color: #115c0b;
}

#command-list {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    background-color: #4e136b;
    border-radius: 50px;
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
}

#cmd-list-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40pt;
    margin: 0;
}

.command {
    display: block;
    width: 90%;
    background-color: #bc8cd4;
    user-select: none;
    margin-bottom: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 10px;
}

.command>h4 {
    width: 98%;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 18pt;
    background-color: #a33cd6;
    border-radius: 10px 10px 0px 0px;
}

.command>p {
    width: 96%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    font-size: 15pt;
}
