#title {
    position: fixed;
    top: calc(var(--vh,1vh) * 5);
    width: calc(var(--vw,1vw) * 100);
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffffcc;
    font-size: calc(var(--vwh,1vh) * 7);
}

#form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#submit {
    position:  relative;
    background-color:  transparent;
    border-style:  solid;
    border-color:  #ccc;
    border-radius:  20px;
    color: #cccccc;
    margin-top: calc(var(--vh,1vh) * 2);
}

#submit:hover {
    background-color: #cccccc7d;
    color: #7d7d7d;
    cursor: pointer;
}

/* Form IDs and classes */

#conForm {
    position:  relative;
    z-index: 8;
    width: calc(var(--vw, 1vw) * 50);
    border-color:  #ccc;
    border-style:  solid;
    border-width:  1px;
    padding:  calc(var(--vwh, 1vh) * 2);
    border-radius: 20px;
}

.text-entry-label {
    position:  relative;
    z-index: 8;
    color:  #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:  0;
    width: 85%;
    left: 7.5%;
    text-align:  center;
    padding:  0;
}

.text-entry {
    background-color:  #000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  #fff;
    width:  100%;
    margin-bottom: calc(var(--vh,1vh) * 2.5);
}
