#main-about-title {
    position: fixed;
    z-index:7;
    color:#ffffffcc;
    left: calc(var(--vw, 1vw) * 5);
    text-align:center;
    font-size: 10vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#me-subtitle {
    position: fixed;
    z-index:7;
    color:#ffffffcc;
    width: calc(var(--vw, 1vw) * 30);
    height: calc(var(--vh, 1vh) * 50);
    left: calc(var(--vw, 1vw) * 5);
    top: calc(var(--vh, 1vh) * 20);
    border-radius: 20px;
    border-color: #ccc;
    border-style: solid;
    padding: 15px;
    text-align:center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


#slideshow {
    background-color: #ffffff;
    border-radius: 10px;
    width: calc(var(--vwh,1vw) * 50);
    height: calc(var(--vwh,1vh) * 40);
    border-style: solid;
    border-color: #c48bd6;
    position: fixed;
    top: calc(var(--vh,1vh) * 50);
    right: calc(var(--vw,1vw) * 5);
    z-index: 4;
    filter: hue-rotate(90deg);
    margin: 0;
    padding: 0;
}

#slideshow img {
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
    background-color: #7d7d7d7d;
}

#page-display {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    top: calc(var(--vwh,1vh) * 2);
    width: calc(var(--vwh,1vw) * 50);
    text-align: center;
    left: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #7d7d7dcc;
}


#socials-title {
    color:#ffffff;
    font-size:25pt;
    text-align:center;
    width:100%;
    font-weight:bold;
    font-family:'Yanone Kaffeesatz', sans-serif;
    margin:0;
    margin-bottom:3vh;
}

#me-picture {
    position: relative;
    height: calc(var(--vh, 1vh) * 30);
    right: calc(var(--vh, 1vh) * 3);
}

#me-frame {
    position: fixed;
    width: calc(var(--vh, 1vh) * 30);
    height: calc(var(--vh, 1vh) * 30);
    border-radius: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    left: calc(var(--vw, 1vw) * 40);
    top: calc(var(--vh, 1vh) * 15);
    background-color: #c48bd6;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
}

#socials {
    width: 30vw;
    height: auto;
    margin-left: 69vw;
    margin-top: calc(var(--vwh, 1vh) * 2);
    background-color: #903aaa;
    padding-top: calc(var(--vwh, 1vh) * 2);
    padding-bottom: calc(var(--vwh, 1vh) * 2);
    border-radius: 20px;
    border-color: #ffffff7d;
    border-style: solid;
}

.social_icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    margin-left: calc(var(--vwh, 1vh) * 2);
    position: relative;
    filter: hue-rotate(-90deg);
    /* top: 10px; */
}

.social_text {
    font-size: calc(var(--vwh, 1vh) * 2);
    color: #ffffffcc;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
    margin-left: calc(var(--vwh, 1vh) * 2);
    position: relative;
    /* bottom: calc(var(--vwh, 1vh) * 1); */
    text-decoration: none;
}

.social_elem {
    background-color: #652a837d;
    border-radius: 20px;
    height: calc(var(--vwh, 1vh) * 5);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 75%;
    position: relative;
    left: 12.5%;
    margin-bottom: calc(var(--vwh, 1vh) * 1.25);
}