#title {
    position: fixed;
    top: calc(var(--vh,1vh) * 5);
    width: calc(var(--vw,1vw) * 100);
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffffcc;
    font-size: calc(var(--vwh,1vh) * 7);
}

#submit {
    position:  fixed;
    background-color:  transparent;
    border-style:  solid;
    border-color:  #ccc;
    border-radius:  20px;
    color: #cccccc;
    top: calc(var(--vh, 1vh) * 70);
    left: calc(var(--vw, 1vw) * 45);
}

/* Form IDs and classes */

#conForm {
    position:  fixed;
    z-index: 8;
    left: calc(var(--vw,1vw) * 20);
    top:  calc(var(--vh, 1vh) * 30);
    width: calc(var(--vw, 1vw) * 50);
    border-color:  #ccc;
    border-style:  solid;
    border-width:  1px;
    padding:  calc(var(--vwh, 1vh) * 2);
    border-radius: 20px;
}

.text-entry-label {
    position:  relative;
    z-index: 8;
    color:  #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:  0;
    width: 85%;
    left: 7.5%;
    text-align:  center;
    padding:  0;
}

.text-entry {
    background-color:  #000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  #fff;
    width:  100%;
    margin-bottom: calc(var(--vh,1vh) * 2.5);
}
