@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Trispace:wght@100&display=swap');
/*font-family: 'Rubik Vinyl', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&display=swap');
/*font-family: 'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/

@keyframes ham_hover {
    from {
        color: #522a82;
        background-color: #ba3df4;
    }

    to {
        color: #000;
        background-color: #fff;
    }
}

@keyframes reveal {
    from {
        left: -21%;
    }

    to {
        left: 0%;
    }
}

body,
html {
    margin: 0;
    padding: 0;
}

#body_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

#site-title {
    text-align: center;
    font-size: 1em;
    user-select: none;
    font-family: 'Rubik Vinyl', cursive;
}

/** Inactive */
#hamburger {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    left: 105%;
    top: 2%;
    width: auto;
    color: #522a82;
    background-color: #ba3df4;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #24031b;
}

#hamburger:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

#nav-container {
    z-index: 2;
    position: fixed;
    left: -21%;
    height: 100%;
    width: 20%;
    text-decoration: none;
    background-color: #000;
    border-right: #fff;
    border-style: solid;
    white-space: nowrap;
    transition: left 0.5s;
}

#nav-container_active {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 20%;
    text-decoration: none;
    background-color: #000;
    border-right: #fff;
    border-style: solid;
    white-space: nowrap;

    animation-name: reveal;
    animation-duration: 0.5s;
    animation-direction: normal;
    left: 0%;
}

#navbar {
    overflow: hidden;
    position: relative;
    top: 150px;
    list-style: none;
    white-space: nowrap;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    user-select: none;
}

#navbar>li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3em;
}

.nav-link {
    color: #2b1644;
    text-decoration: none;
}

.nav-link:hover {
    color: #612da1;
    cursor: pointer;
}

#nav-active {
    color: #9947fd;
}

#scroll-page {
    position: absolute;
    top: 100%;
    background-color: #220530;
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 27px;
    margin: 0;
    z-index: 1;
}

.hr-padding {
    margin-bottom: 30px;
}
