@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Trispace:wght@100&display=swap');
/*font-family: 'Rubik Vinyl', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&display=swap');
/*font-family: 'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Rubik+Vinyl&family=Shadows+Into+Light&family=Trispace:wght@100&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/


::-webkit-scrollbar {
    background-color: #0000007d;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccccc;
}

@keyframes ham_hover {
    from {
        color: #000;
        background-color: #fff;
    }
    to {
        color: #522a82;
        background-color: #7a28a0;
    }
}

@keyframes reveal {
    from {
        left: -310px;
    }

    to {
        left: 0px;
    }
}

@keyframes flash {
    from {
        width: 110%;
        height: 110%;
        background-color: #ffffffff;
    }
    to {
        width: 120%;
        height: 120%;
        background-color: #ffffff00;
    }
}

/** Inactive */
#hamburger {
    position: relative;
    display: inline-block;
    padding-top: 0vh;
    padding-bottom: calc(var(--vh, 1vh) * 1.5);
    padding-left: calc(var(--vh, 1vh) * 1);
    padding-right: calc(var(--vh, 1vh) * 1);
    left: 105%;
    width: calc(var(--vh, 1vh) * 5);
    height: calc(var(--vh, 1vh) * 5);
    font-size: calc(var(--vh, 1vh) * 1.25);
    color: #000;
    background-color: #fff;
    border-radius: calc(var(--vh, 1vh) * 1);
    border-width: calc(var(--vh, 1vh) * 0.25);
    border-style: solid;
    border-color: #24031b;
    transition: background-color 0.25s;

    filter: hue-rotate(90deg);
}

#hamburger:hover {
    color: #522a82;
    background-color: #7a28a0cc;
    cursor: pointer;
}

body,
html {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

#body_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    filter: hue-rotate(90deg);
}

#site-last-update {
    color: #ffffffcc;
    font-weight: lighter;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: fixed;
    z-index: 10;
    right: calc(var(--vw, 1vw) * 10);
    top: calc(var(--vh, 1vh) * 3);
}

#site-title {
    text-align: center;
    font-size: 1em;
    user-select: none;
    font-family: 'Rubik Vinyl', cursive;
}



#hamburger-flash {
    background-color: #fff;
    border-radius: calc(var(--vh, 1vh) * 1);
    display: block;
    padding-top: 0vh;
    margin: 0;
    position: relative;
    padding-left: calc(var(--vh, 1vh) * 1);
    padding-right: calc(var(--vh, 1vh) * 1);
    padding-bottom: calc(var(--vh, 1vh) * 1.5);
    z-index: -1;
    right: 25%;
    bottom: 134%;
    width: 110%;
    height: 110%;
    animation-name: flash;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

#nav-flexbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: calc(var(--vh, 1vh) * -5);
}

#discord_bot {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#discord_bot>p {
    margin: 0;
}

#nav-container {
    z-index: 100;
    position: fixed;
    left: calc(var(--vh, 1vh) * -21);
    height: 100%;
    width: calc(var(--vh, 1vh) * 40);
    backdrop-filter: blur(5px);
    text-decoration: none;
    background-color: #cccccc8e;
    border: #000;
    border-style: solid;
    border-left-style: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    white-space: nowrap;
    transition: left 0.5s;
    user-select: none;
    /* filter: hue-rotate(90deg); */
}

#nav-container_active {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: calc(var(--vh, 1vh) * 40);
    backdrop-filter: blur(5px);
    text-decoration: none;
    background-color: #ffffff8e;
    border: #000;
    border-style: solid;
    border-left-style: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    white-space: nowrap;

    animation-name: reveal;
    animation-duration: 0.5s;
    animation-direction: normal;
    left: 0px;

    user-select: none;
    /* filter: hue-rotate(90deg); */
}

#nav-icon {
    width: calc(var(--vh, 1vh) * 15);
    height: calc(var(--vh, 1vh) * 15);
    position: relative;
    background-color: #cccccc7d;
    border-radius: 100px;
    border-color: #fff;
    border-style: solid;
}

.nav-link {
    /* color: #5c2f93; */
    color: #383838;
    text-decoration: none;
    padding-top: calc(var(--vh, 1vh) * 2);
    padding-bottom: calc(var(--vh, 1vh) * 2);
    font-size: calc(var(--vh, 1vh) * 4);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 0px #000000;
    font-weight: bold;
    filter: hue-rotate(90deg);

    width: 100%;
    text-align: center;

    /* background-color: #7d7d7d7d; */
    border-color: #000000cc;
    border-top-style: none;
    border-bottom-style: solid;
}

.nav-link-first {
    margin-top: calc(var(--vh, 1vh) * 5);
}

.nav-link:hover {
    color: #4252e6;
    cursor: pointer;
    /* filter: hue-rotate(90deg); */
}

#nav-active {
    color: #9947fd;
    font-size: calc(var(--vh, 1vh) * 5.5);
    filter: hue-rotate(90deg);
}

#scroll-page {
    position: absolute;
    top: calc(var(--vh, 1vh) * 100);
    background-color: #220530;
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 27px;
    margin: 0;
    z-index: 5;
    filter: hue-rotate(90deg);
}

#nav-separator {
    width: 75%;
    height: 1px;
    background-image: linear-gradient(0.25turn, #cccccc00, #000, #cccccc00);
    display: block;
    position: relative;
    top: calc(var(--vh, 1vh) * 3);
}

#disclaimer {
    position: absolute;
    display: block;
    background-color: #000;
    left: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#disclaimer>p {
    /* padding-left: 100px; */
    color: #fff;
    text-align: center;
    font-size: calc(var(--vh, 1vh) * 2);
    font-family: 'Shadows Into Light', cursive;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invert-circle {
    width: calc(var(--vwh, 1vh) * 100);
    height: calc(var(--vwh, 1vh) * 100);
    border-radius: calc(var(--vwh, 1vh) * 50);
    border-color: #ffffff7d;
    border-style: solid;
    backdrop-filter: invert(0.5);
    filter: blur(0.5);
    background-color: #ffffff3a;
    position: fixed;
    right: calc(var(--vwh, 1vh) * -50);
    top: calc(var(--vwh, 1vh) * 40);
    filter: hue-rotate(90deg);
}

.hr-padding {
    margin-bottom: 30px;
}

.center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.separator {
    display: block;
    position: relative;
    height: 1px;
    background-image: linear-gradient(0.25turn, transparent, #fff, transparent);
    margin-bottom: 20px;
}

.skinny-separator {
    display: block;
    height: 1px;
    background-image: linear-gradient(0.25turn, transparent, transparent, #000, transparent, transparent);
    margin-bottom: 20px;
}

.side-drop {
    display: none;
}

.discord-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 100%;
    padding-left: 5px;
    padding-right: 10px;
    background-color: #ffffff8e;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    border-left-color: #000;
    border-right-radius: 20px;
    margin-top: calc(var(--vh, 1vh) * 19);
}

.discord-active>a {
    color: #cccccc;
}

/* DISCORD ELEMENT CLASSES & IDs */
.discord {
    /* color: #5c2f93; */
    text-decoration: none;
    filter: hue-rotate(90deg);
    border-bottom-style: none;
}

#discord-page {
    color: #9947fd;
    filter: hue-rotate(90deg);
}

.discord_nav_active {
    color: #8c42e6;
    text-decoration: underline;
    filter: hue-rotate(90deg);
    border-bottom-style: none;
}



@media only screen and (max-width: 1080px) {
    #nav-icon {
        display: none;
    }

    #nav-flexbox {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: calc(var(--vh, 1vh) * -7.2);
        ;
    }

    #nav-separator {
        display: none;
    }

    #nav-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(var(--vh, 1vh) * 5);
        ;
        z-index: 6;
        display: flex;
        flex-direction: column;
        background-color: #47074dd8;
        backdrop-filter: blur(6px);
        justify-content: center;
        align-items: center;
    }

    #nav-active {
        /* Active page link */
        color: #430a53;
        background-color: #3e1351;
        text-shadow: 0px 0px 3px #ff9ef2;
    }

    .nav-link-first {
        margin: 0;
    }

    .nav-link {
        padding-left: 5vw;
        padding-right: 5vw;
        text-decoration: none;
        color: #cccccc;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: calc(var(--vh, 1vh) * 3);
        ;
        background-color: #5f1280cc;
        padding-top: calc(var(--vh, 1vh) * 1);
        ;
        padding-bottom: calc(var(--vh, 1vh) * 1);
        ;
        border-color: #000;
        border-style: solid;
        border-width: 1px;
    }

    .nav-link:hover {
        color: #000000;
        background-color: #f487fecc;
    }

    #scroll-page {
        position: absolute;
        top: calc(var(--vh, 1vh) * 100);
        background-color: #220530;
        display: block;
        /* width: calc(var(--vw, 1vw) * 100); */
        width: 100%;
        padding: 0;
        padding-bottom: 27px;
        margin: 0;
        z-index: 5;
    }
}
