#entries {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 20vw;
    height: calc(100vh - 10px);
    padding-top: 10px;
    background-color: var(--menu);
    display: flex;
    flex-direction: column;
    user-select: none;
}

.entry {
    display: flex;
    flex-direction: column;
    background-color: var(--sub-menu);
    color: var(--text);
    text-align: center;
}

.entry:hover {
    filter: opacity(0.7);
    cursor: pointer;
}

.entry>#name,
.entry>#timestamp {
    margin: 0;
    padding: 0;
}

.entry>#name {
    font-size: 2vh;
    margin-bottom: 10px;
    padding-top: 5px;
}

.entry>#timestamp {
    font-size: 1.25vh;
    padding-bottom: 5px;
}

#edit-menu {
    position: fixed;
    left: 10.5vw;
    top: 0;
    width: 60vw;
    height: 100vh;
    background-color: var(--sub-menu);
    border-right-style: solid;
    border-color: var(--text);
    color: var(--text);
}

#edit-menu>#new,
#edit-menu>#save,
#edit-menu>#delete {
    position: absolute;
    bottom: 0;
    left: calc(5px);
    background-color: var(--element);
    padding: 10px;
    border-radius: 10px;
    color: var(--text);
    border-color: var(--menu);
    border-style: solid;
    border-width: 1px;
    user-select: none;
    font-size: 15px;
}

#edit-menu>#save {
    left: calc(75px);
}

#edit-menu>#delete {
    left: calc(145px);
}

#edit-menu>#new:hover,
#edit-menu>#save:hover,
#edit-menu>#delete:hover {
    filter: opacity(0.7);
    cursor: pointer;
}




#edit-menu>.calendar {
    position: absolute;
    left: 20%;
    top: 50px;
    background-color: var(--element);
    width: 40vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    text-align: center;
    padding: 0;
    margin: 0;
}

.calendar>* {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    color: var(--text);
    background-color: var(--element)
}

.calendar>div:hover {
    filter: brightness(2);
    color: #000;
}

.calendar>div>p,
.calendar>p {
    padding: 0;
    margin: 0;
}

#edit-menu>#hours {
    position: absolute;
    left: 20%;
    bottom: 100px;
    background-color: var(--element);
    width: 40vw;
    height: 40vh;
}

#edit-menu>#prev {
    position: absolute;
    left: 25%;
    top: 45%;
    z-index: 99;
    background-color: var(--element);
    padding: 5px;
    border-radius: 50px;
    border-color: var(--menu);
    border-style: solid;
    border-width: 2px;
    user-select: none;
}

#edit-menu>#next:hover,
#edit-menu>#prev:hover {
    filter: opacity(0.7);
    cursor: pointer;
}

#edit-menu>#next {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 99;
    background-color: var(--element);
    padding: 5px;
    border-radius: 50px;
    border-color: var(--menu);
    border-style: solid;
    border-width: 2px;
    user-select: none;
}

#edit-menu>#month-year {
    position: absolute;
    left: 25%;
    width: 20%;
    text-align: center;
    top: 45.5%;
    z-index: 1;
}