#site-title {
    color: #833aad;
    position: fixed;
    margin-left: 30%;
    z-index: 0;
    font-size: 5em;
    font-weight: bold;
    user-select: none;
    font-family: 'Rubik Vinyl', cursive;
}

#disclaimer {
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
    display: block;
    background-color: #833aad;
    width: 100%;
    padding: 0;
}

#disclaimer>p {
    padding-left: 100px;
    color: #220530;
    font-family: 'Shadows Into Light', cursive;
}

#invite-link {
    background-color: #220530;
    width: 250px;
    height: 250px;
    position: fixed;
    right: 100px;
    top: 200px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 2px;
}

#invite-link>img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 75px;
    top: 40px;
}

#invite-link>a {
    color: #fff;
    text-decoration: none;
    background-color: #59cc4f;
    border-radius: 5px;
    padding: 7px;
    position: relative;
    top: 80px;
    right: 17px;
}

#invite-link>a:hover {
    color: rgb(112, 112, 112);
    text-decoration: none;
    background-color: #115c0b;
    border-radius: 5px;
    padding: 7px;
    position: relative;
    top: 80px;
    right: 17px;
}

#scroll-page {
    position: absolute;
    top: 100vh;
    background-color: #220530;
    display: block;
    width: 100%;
    /* height: 100%; */
    padding: 0;
    padding-bottom: 150px;
    margin: 0;
    z-index: 1;
}

#command-list {
    padding-top: 15px;
}

#cmd-list-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40pt;
}

.command {
    display: block;
    width: 100%;
    background-color: #bc8cd4;
    user-select: none;
    margin-bottom: 30px;
}

.command>h4 {
    width: 98%;
    padding: 0;
    margin: 0;
    padding-left: 2%;
    background-color: #a33cd6;
}

.command>p {
    width: 96%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
}
