:root {
    --2d-dark-bg: #212b27;
    --2d-dark-menu: #61806b;
    --2d-dark-interaction: #b9c9ba;
    --2d-dark-text: #919191;
    --2d-dark-text-hover: #4d4d4d;
}

#renderer-visualize-2d {
    width: 1000px;
    height: 1000px;
    display: block;
    border-radius: 20px;
}


.dark-theme body {
    background-color: var(--2d-dark-bg);
}

.dark-theme #renderer-visualize-2d {
    background-color: var(--2d-dark-menu);
}