#title {
    position: fixed;
    width: 100vw;
    height: fit-content;
    text-align: center;
    font-size: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    margin: auto;
    background-color: var(--menu);
    justify-content: center;
    border-color: var(--border);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

form>div {
    /* Username and Password fields */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

form>div>p {
    width: 100%;
    text-align: center;
}

form>div>input {
    width: 33%;
    height: 3vh;
    font-size: 1.5vh;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent);
    color: var(--text);
    border-color: var(--border);
    border-style: solid;
    font-size: 1.5vh;
    padding: 15px;
    font-weight: bold;
}

#togglePass {
    user-select: none;
    background-color: var(--accent);
    border-radius: 1px;
    padding: 5px;
}

#togglePass:hover,
button:hover {
    filter: brightness(0.5);
    cursor: pointer;
}