form {
    display: flex;
    flex-direction: column;
}

form>div {
    /* Username and Password fields */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
}

form>div>p {
    width: 100%;
    text-align: center;
}

form>div>input {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}