@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body {
    background-color: #7f93b3;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 130px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000cc;
    backdrop-filter: blur(5px);
    padding-right: 2vw;
    padding-left: 2vw;
    user-select: none;
}

.nav-link {
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#active-nav {
    color: #75cfff;
    font-weight: bold;
    transition-duration: 500ms;
    font-size: 2vh;
}

.nav-link:hover {
    color: #ccc;
}

.nav-link:first-child {
    margin-top: 5vh;
}

.nav-icon {
    width: 100%;
    height: auto;
    position: relative;
    left: 70%;
    border-style: solid;
    border-radius: 50%;
    border-color: #000000cc;
    background-color: #000000cc;
    border-width: 2px;
    margin-top: 2vh;
    margin-bottom: 3vh;
}




#site-last-update {
    position: fixed;
    right: 2vw;
    bottom: 0;
    padding-left: 5vw;
    padding-bottom: 2vh;
    font-size: 1.5vh;
    color: #ffffff55;
    font-family: 'Montserrat', sans-serif;
}






/* projects.css */

#project-flex {
    position: fixed;
    left: 20vw;
    top: 10vh;
    height: 80vh;
    width: 47vw;
    display: flex;
    flex-direction: column;
    background-color: #28303d;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.project {
    width: 100%;
    padding: 1vh;
    padding-right: 0;
    padding-left: 0.2vw;
    background-color: #2f445b;
    font-family: 'Montserrat';
    color: #ffffff;
    margin-bottom: 0.5vh;
}

.project:hover {
    background-color: #ffffffaf;
}

#filter {
    padding: 0;
    margin: 0;
    position: sticky;
    width: 100%;
    height: 4vh;
    top:0;
    background-color: #102b55;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
    padding-top: 0.5vh;
}

.filter {
    margin: 0;
    padding: 0;
    margin-left: 2vw;
    margin-bottom: 0.75vh;
    user-select: none;
    height: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 999;
}

.filter:hover {
    color: #7d7d7d;
}

#active {
    background-color: #7f93b3;
    border-radius: 5px;
    transition-duration: 500ms;
    color: #000;
}


/* Customize the scrollbar */
#project-flex::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
    background-color: #48638e;
  }
  
  /* Customize the scrollbar thumb (the draggable part) */
#project-flex::-webkit-scrollbar-thumb {
    background: #2374b7; /* Set the color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
  }
  
  /* Customize the scrollbar track */
#project-flex::-webkit-scrollbar-track {
    background: #6fa5b7; /* Set the color of the track */
  }
  
  /* Customize the scrollbar thumb when hovering over it */
#project-flex::-webkit-scrollbar-thumb:hover {
    background: #0d3d4d; /* Change the color on hover */
  }
  

  /* Widgets */

  #timesheet-widget {
    width: 20vw;
    height: 50vh;
    position: fixed;
    left: 30vw;
    top: 25vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    user-select: none;
}

#calendar {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 265px;
    background-color: #34586b;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#calendar>#display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    margin: 0;
}

.date {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    background-color: #1d99dc;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.date>p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.date:hover {
    background-color: #437894;
}

.date>p:hover .date {
    background-color: #437894;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 450px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

#days>p {
    /* margin-right: 5px; */
    background-color: #1d99dc;
    padding: 5px;
    width: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

#empty-day {
    width: calc(500px/7);
}

#timesheet-input {
    width: 450px;
    height: 100px;
}

#cal_btns {
    position: relative;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

#next_month {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #344d6b;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px; 
    border-style: solid;
    border-color: #97aed1;
    color: #ccc;
}

#prev_month {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #344d6b;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px; 
    border-style: solid;
    border-color: #97aed1;
    color: #ccc;
}

.cal_btns>div:hover {
    background-color: #8199b7;
    color: #4b4b4b;
}